body {
    background-color: black;
}


.boton2 {
    background-color: rgb(0, 0, 0);
    padding: 1px;
    height: 100px;
    width: 180px;
}

button {
    background-color: rgb(0, 0, 0);
    border: 0px;
    width: 100%;
    font-size: 30px;
    text-align: start;
    animation: nike 10s ease 3s infinite;
}

img:hover {
    animation-play-state: paused;
}


button:hover {
    animation-play-state: paused;
    
}

span{ 
    animation: naranja 10s ease 3s infinite;
}

span:hover {
    animation-play-state: paused;
}



@keyframes nike {
    0% {width: 100%;}
    45% {width: 50%;}
    50% {width: 50%;}
    55% {width: 50%;}
    100% {width: 100%;}
}



@keyframes naranja {
    0% {color: black;}
    5% {color: orange;}
    50% {color: orange;}
    100% {color: black;}
}

